<div id="header">
	<div class="logo">
		<h2>MyLogo</h2>
	</div>
	<div class="menu">
		<ul>
			<li><LinkTo @route="index">Home</LinkTo></li>
			<li><LinkTo @route="products">Products</LinkTo></li>
			<li><LinkTo @route="price">Price</LinkTo></li>
			<li><LinkTo @route="about">About</LinkTo></li>
			<li><LinkTo @route="contact">Contact</LinkTo></li>
		</ul>
	</div>
</div>