
<div id="header">
	<button class="home"><a href="/">Home</a></button>
	<button class="home"><a href="/page2">Page 2</a></button>
	<button class="changeColor">Change Color</button>
</div>

{{outlet}}
